* {
    margin: 0 auto;
    padding: 0 auto;
    font-family: "Ubuntu", sans-serif;
}
p, h1, h2, h3, h4, h5, h6 {
    color: white;
}

header {
    background-color: #0c0a33;
    text-align: center;
    align-items: center;

    img {
        width: 250px;
        height: auto;
        padding: 15px;
    }

}
main{
    background-color: #0c0a33;
}