* {
    margin: 0 auto;
    padding: 0 auto;
}

header {
    background-color: #0c0a33;
    text-align: center;
    align-items: center;

    img {
        width: 250px;
        height: auto;
        padding: 15px;
    }


}